html {
    box-sizing: border-box;
}

#clock-view {
    position: absolute;
    padding: 0;
    margin: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}

#clock-view canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
